{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        header{
            width:100%;
            display:flex;
            justify-content:center;
            align-items: center;



        }

        header>img{
            width: fit-content;
            height: fit-content;
        }

        header>p{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
            color: #023E8A;

        }

        .fullscreen-bg {
            background: url("votre_image.jpg") no-repeat center center fixed;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
        }

        .centered-text {
            text-align: center;
            color: #fff;
        }

    </style>
    <header>
    <p><img src='{{ asset('uploads/logo.png') }}' alt='logo'>Rhône-Alpes</p>

    </header>






    <div class="flex"><h1>Tous les domaines</h1><h2><a href="{{ path('app_logout') }}">Déconnexion</a></h2></div>
    <div class="example-wrapper">
        <ul class="grid">
            {% for domain in domains %}
                <li>
                    <a href="{{ path('app_domain',{'id':domain.id}) }}">
                    {{ domain.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>




    </div>
{% endblock %}
