
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

public/uploads/domain
!public/uploads/domain/.gitkeep

public/uploads/station
!public/uploads/station/.gitkeep